#user-auth {
  position: absolute;
  top: 0.5vh;
  right: 0.5vw;
  padding: 10px;

  button {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #737380;
    font-size: 14px;
    border: 0;
    background: transparent;

    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.5);
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}